In [2]:
import pandas as pd

<h1> 2023 DATA </h1>  
<h3> January, February, March, April, May, June </h3>

In [3]:
g23 = pd.read_csv("2023.csv")

In [11]:
g23.head()

,Address,County,Full,Date,Full Market Price,VAT exclusive,Latitude,Longitude
0,"15 ST JOHNS TERRACE, OLD YOUGHAL RD, CORK CITY",Cork,"15 ST JOHNS TERRACE, OLD YOUGHAL RD, CORK CITY...",2023-01-01,1,0,51.911373,-8.442231
1,"2 KINGS TERRACE, CORK CITY, CORK",Cork,"2 KINGS TERRACE, CORK CITY, CORK, Cork",2023-01-01,1,0,51.901490,-8.463452
2,"22 COVE ST, CORK CITY, CORK",Cork,"22 COVE ST, CORK CITY, CORK, Cork",2023-01-01,1,0,51.895019,-8.475927
3,"3 PARK HILL, SKEHARD RD, CORK",Cork,"3 PARK HILL, SKEHARD RD, CORK, Cork",2023-01-01,1,0,51.886775,-8.427577
4,"4 SULLIVANS LANE, BARRACK ST, CORK",Cork,"4 SULLIVANS LANE, BARRACK ST, CORK, Cork",2023-01-01,1,0,51.892899,-8.478891

In [5]:
g23.index.is_monotonic_increasing #!!!

True

In [7]:
org = pd.read_csv("PPR-ALL.csv", encoding='ISO-8859-1', low_memory=False)

In [9]:
org['Price'] = (org.iloc[:,4]
                .str.replace(',', '')
                .str.slice(1)
                .astype('float32'))

In [10]:
org.head()

,Date of Sale (dd/mm/yyyy),Address,County,Eircode,Price (),Not Full Market Price,VAT Exclusive,Description of Property,Property Size Description,Price
0,01/01/2010,"5 Braemor Drive, Churchtown, Co.Dublin",Dublin,NaN,"343,000.00",No,No,Second-Hand Dwelling house /Apartment,NaN,343000.0
1,03/01/2010,"134 Ashewood Walk, Summerhill Lane, Portlaoise",Laois,NaN,"185,000.00",No,Yes,New Dwelling house /Apartment,greater than or equal to 38 sq metres and less...,185000.0
2,04/01/2010,"1 Meadow Avenue, Dundrum, Dublin 14",Dublin,NaN,"438,500.00",No,No,Second-Hand Dwelling house /Apartment,NaN,438500.0
3,04/01/2010,"1 The Haven, Mornington",Meath,NaN,"400,000.00",No,No,Second-Hand Dwelling house /Apartment,NaN,400000.0
4,04/01/2010,"11 Melville Heights, Kilkenny",Kilkenny,NaN,"160,000.00",No,No,Second-Hand Dwelling house /Apartment,NaN,160000.0

In [13]:
start = pd.to_datetime('2023-01-01')  
end = pd.to_datetime('2023-06-30')
org = org[(org['Date of Sale (dd/mm/yyyy)'] >= start) & (org['Date of Sale (dd/mm/yyyy)'] <= end)]
org = org.sort_values('Date')

TypeError: '>=' not supported between instances of 'str' and 'Timestamp'

In [ ]:
df23 = pd.merge(g23, org[['Address', 'Price']], on='address', how='left')

<h1> 2022 DATA  </h1>  
<h3> December </h3>

In [10]:
pd.read_csv("2022.csv")

,Address,County,Full,Date,Full Market Price,VAT exclusive,Price,Latitude,Longitude
0,"03 GRAYDON GREEN, NEWCASTLE, CO DUBLIN",Dublin,"03 GRAYDON GREEN, NEWCASTLE, CO DUBLIN, Dublin",2022-12-01,1,1,409691.62,53.295794,-6.497725
1,"64 THE DRIVE, KILL ST LAWRENCE, WATERFORD",Waterford,"64 THE DRIVE, KILL ST LAWRENCE, WATERFORD, Wat...",2022-12-01,1,0,291000.00,52.235112,-7.108779
2,"64 SLI AN CHLAIRIN, CAHEROYAN, ATHENRY",Galway,"64 SLI AN CHLAIRIN, CAHEROYAN, ATHENRY, Galway",2022-12-01,1,0,270000.00,53.303425,-8.742269
3,"63 D MOYLARAGH RISE, BALBRIGGAN, DUBLIN",Dublin,"63 D MOYLARAGH RISE, BALBRIGGAN, DUBLIN, Dublin",2022-12-01,1,0,210000.00,53.610404,-6.201903
4,"63 CROMWELLSFORT GROVE, WEXFORD, WEXFORD",Wexford,"63 CROMWELLSFORT GROVE, WEXFORD, WEXFORD, Wexford",2022-12-01,1,0,187500.00,52.328798,-6.463182
...,...,...,...,...,...,...,...,...,...
6767,"3 BROAD RD, ARVA, CAVAN",Cavan,"3 BROAD RD, ARVA, CAVAN, Cavan",2022-12-30,1,0,161000.00,53.923102,-7.583107
6768,"8 SOUTH LOTTS ROAD, RINGSEND, DUBLIN 4",Dublin,"8 SOUTH LOTTS ROAD, RINGSEND, DUBLIN 4, Dublin",2022-12-31,1,0,287500.00,53.337499,-6.234289
6769,"83 Astor Lawn, Abbey Forte, Kinsale",Cork,"83 Astor Lawn, Abbey Forte, Kinsale, Cork",2022-12-31,1,1,311400.00,51.711772,-8.529397
6770,"29 Castle Park, Killycard, Castleblayney",Monaghan,"29 Castle Park, Killycard, Castleblayney, Mona...",2022-12-31,1,1,233480.17,54.117502,-6.754407
6771,"APT 22 - PEARSE COURT, PEARSE STREET, ATHLONE",Westmeath,"APT 22 - PEARSE COURT, PEARSE STREET, ATHLONE...",2022-12-31,1,0,120000.00,53.422149,-7.944692

In [11]:
g22 = pd.read_csv("2022.csv")